/* CSS for input.html */
html {
  scroll-behavior: smooth;
}

.selections {
  background-color: #7DA87B;
}

.custom-header {
  padding: 24px 0;
}

p {
  color: white;
  font-size: 20px;
}

.instructionsText {
  color: white;
  /* text-align: center; */
  display: inline-block;
  margin: 35px;
}

.instructionsText2 {
  color: white;
  text-align: center;
  display: inline;
}

.instructionUnit {
  padding-left: 35px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #64bccc;
}

li {
  float: left;
}

li a {
  display: block;
  color: #071C47;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Change the link color to green on hover */
li a:hover {
  background-color: #071C47;
}

.centerlist {
  border-top: solid 1px #666666;
  border-bottom: solid 1px #666666;
  text-align: left;
  font-size: 150%;
  list-style-type: none;
  margin: 20px auto;
  padding: 0px;
  width: 202px;
}

.center {
  border: none;
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 150%;
  list-style-type: none;
  margin: 15px auto;
  margin-bottom: 30px;
  padding: 0px;
  width: 202px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.logo {
  padding: 10px 0px;
  height: 70px;
}

.myButton {
  cursor: pointer;
}

/* dropdown menu */
.dropbtn {
  background-color: #7DA87B;
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #326765;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Modal code */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  margin: 5px;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #7B9AA8;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  /* padding: 2px 10px; */
  /* background-color: #7B9AA8; */
  color: black;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}